<section id="{{ include.title | replace: ' ', '-' | lowercase }}" class="case-studies-block ~ row {% if include.direction == 'reverse' %}flex-row-reverse{% endif %} justify-content-center justify-content-lg-start no-gutters">
  <div class="d-none d-lg-block col-6 col-xl-7">
    <figure class="case-studies-media">
      <picture class="lazyLoad">
        <source media="(min-width: 1440px)" data-srcset="{{ site.cloudinary.url }}/image/upload/{{ site.cloudinary.transforms }}/home/xl/{{ include.image }}_2x">
        <source media="(min-width: 1024px)" data-srcset="{{ site.cloudinary.url }}/image/upload/{{ site.cloudinary.transforms }}/home/lg/{{ include.image }}_2x">
        <img data-src="{{ site.cloudinary.url }}/image/upload/{{ site.cloudinary.transforms }}/home/lg/{{ include.image }}_2x" class="img-fluid" alt="{{ include.alt }}">
      </picture>
    </figure>
  </div>
  <div class="col col-md-8 col-lg-6 col-xl-5">
    <div class="case-studies-box">
      <div class="case-studies-content">
        <strong class="case-studies-lead">{{ include.category }}</strong>
        <h3 class="case-studies-title">{{ include.title }}</h3>
        <p>{{ include.body }}</p>
        <a class="btn btn-primary case-studies-button" href="{{ include.url | relative_url }}" data-type="page-transition">Learn more<span></span></a>
      </div>
    </div>
  </div>
</section>
