<section class="contact cd-container d-flex align-content-center flex-wrap">
  <div class="cd-container">
    <div class="row justify-content-center">
      <h1>{{ include.title }}</h1>
    </div>
    <div class="row justify-content-center">
      <p>{{ include.text }}</p>
    </div>
  </div>

  <div class="cd-wrapper cd-container row">
    <form class="cd-form"
      name="mc-embedded-subscribe-form"
      action="https://paulhershey.us16.list-manage.com/subscribe/post-json?u=5fffc4a8d94e79513dcefca89&amp;id=931b656c3c&c=?"
      method="post"
      target="_self"
      novalidate>

        <label class="cd-label" for="mce-EMAIL">Email Address</label>
        <input type="email" value="" class="cd-email" name="EMAIL">

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5fffc4a8d94e79513dcefca89_931b656c3c" tabindex="-1" value=""></div>

        <input type="submit" class="cd-submit" value="Submit">
        <div class="cd-loading"></div>
        <div data-type="message" class="cd-response-success">
          <p>Success! Your email is on it's way.</p></div>
        <div data-type="message" class="cd-response cd-response-error">
          Oops! Something went wrong.</div>
        <div data-type="message" class="cd-response cd-response-notification">
          Hey! Notification message here</div>
    </form>
  </div>
</section>
