<header class="navbar navbar-expand navbar-light fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item {% if page.url == '/' %}active{% endif %}">
      <a class="nav-link" href="{{ '/' | relative_url }}" data-type="page-transition">Home</a>
    </li>
    <li class="nav-item dropdown{%- for node in site.pages -%}{% if page.url == node.url %} active{% endif %}{%- endfor -%}">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:">Case Study</a>
      <div class="dropdown-menu">
        <div class="content">
          {%- for node in site.pages | sort: "path" -%}
          <a class="dropdown-item" href="{{ node.url | relative_url }}" data-type="page-transition">{{ node.title }}</a>
          {%- endfor -%}
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="mailto:hersheypaul@gmail.com">Contact</a>
    </li>
  </ul>
</header>