{%- capture image_folder -%}{{ page.title | replace: ' ', '-' | downcase }}{%- endcapture -%}
{% assign media = include.media | default: 'sm, md, lg, xl' | split: ', ' %}
{%- for size in media reversed -%}
  {% case size %}
    {% when 'xl' %}{% assign min_width = "1440px" %}
    {% when 'lg' %}{% assign min_width = "1025px" %}
    {% when 'md' %}{% assign min_width = "767px" %}
    {% when 'sm' %}{% assign min_width = "576px" %}
    {% else %}
    {% assign min_width = "576px" %}
  {% endcase %}
  {% capture show %}{% unless size == 'sm' %}d-none d-{{size}}-flex{% endunless %}
  {% endcapture %}
{%- endfor -%}
<section class="section-{{ include.background_color | default: default }} ~ {{ include.spacing }} {{ show }}">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <picture>
          {%- for size in media reversed -%}
            <source media="(min-width: {{ min_width }})"
                    srcset="/img/{{ image_folder }}/{{ size }}/{{ include.image_name }}">
          {%- endfor -%}
          <img src="/img/{{ image_folder }}/{{ media | first }}/{{ include.image_name }}"
                class="img-fluid" alt="{{ include.title }}">
        </picture>
      </div>
    </div>
  </div>
</section>
