{%- capture image_folder -%}{{ page.title | replace: ' ', '-' | downcase }}{%- endcapture -%}
<section class="image-grid ~ {{ include.spacing }}">
  <div class="grid-start {{ include.start_color }} ~  d-flex align-items-center justify-content-center py-4 py-md-0">
    {%- unless include.start_text.blank? -%}
      {{ include.start_text }}
    {%- endunless -%}
  </div>
  {%- for index in (1..4) -%}
    <div class='img-{{index}} ~ {% if index > 1 %}d-none d-md-flex{% endif %}'>
      <picture>
        <source media="(min-width: 1440px)"
                srcset="/img/{{ image_folder }}/xl/{{include.image_name}}-{{index}}@2x.png">
        <source media="(min-width: 1025px)"
                srcset="/img/{{ image_folder }}/lg/{{include.image_name}}-{{index}}@2x.png">
        <source media="(min-width: 767px)"
                srcset="/img/{{ image_folder }}/md/{{include.image_name}}-{{index}}@2x.png">
        {% if index == 1 %}
        <source media="(min-width: 576px)"
                srcset="/img/{{ image_folder }}/sm/{{include.image_name}}-{{index}}@2x.png">
        {% endif %}
        <img src="/img/{{ image_folder }}/md/{{include.image_name}}-{{index}}@2x.png"
              class="img-fluid" alt="{{ include.title }}">
      </picture>
    </div>
  {%- endfor -%}
  <div class="grid-end {{ include.end_color }} ~  d-flex align-items-center justify-content-center py-4 py-md-0">
    {%- unless include.end_text.blank? -%}
      {{ include.end_text | markdownify }}
    {%- endunless -%}
  </div>
</section>
