.about {
  padding-top: 1rem;
  text-align: center;

  .container {
    @include media-breakpoint-up(md) {
      max-width: 612px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 642px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 680px;
    }
  }

  &-heading {
    margin-bottom: 1.5rem !important;
  }

  &-logos {
    padding: 0;
    margin: 5rem 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 8px;
    @include media-breakpoint-up(md) {
      margin: 4rem -21px 0 -9px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: -30px;
      margin-left: -23px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: -13px;
      margin-left: -4px;
    }

    li {
      max-width: 80px;
      flex: 0 0 calc(25% - 6px);
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-up(md) {
        max-width: none;
        flex: 1;
      }
    }

    svg {
      display: block;
    }
  }
}