.about {
  padding-top: map-get($spacers, 7);
  text-align: left;

  @include media-breakpoint-up(md) {
    text-align: center;
  }

  .logo-list {
    margin-top: map-get($spacers, 4);

    > [class^='col'] {
      margin-bottom: map-get($spacers, 4);
    }
  }
}
