.btn {
  min-width: $btn-width;
  padding: 18px 56px;
  border: none;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  font: bold 14px/14px $font-family-base;
  letter-spacing: .14em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: border-radius .3s ease;
  @include user-select;
  outline: none;
  &:hover, &:focus {
    border-radius: 25px;
    text-decoration: none;
  }

  &-primary {
    color: white;
    background: $black;
    &:hover {
      color: white;
    }
  }

  &-secondary {
    color: $black;
    &:hover {
      color: tint($black, 75%);
    }
  }

  &-medium {
    color: #00b973;
    &:hover {
      color: tint(#00b973, 75%);
    }
  }

  &-linkedin {
    color: #4a90e2;
    &:hover {
      color: tint(#4a90e2, 75%);
    }
  }
}