.case-studies {
  padding-top: map-get($spacers, 7);
  padding-bottom: map-get($spacers, 7);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 10);
    padding-bottom: map-get($spacers, 10);

    &.container {
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: map-get($spacers, 11);
    padding-bottom: map-get($spacers, 11);
  }

  .block {
    margin-bottom: map-get($spacers, 4);

    @include media-breakpoint-up(lg) {
      margin-right: -20px;
      margin-left: 0;
      margin-bottom: 0;

      &.flex-row-reverse {
        margin-left: -20px;
        margin-right: 0;
      }
    }

    .media {
      z-index: -1;
    }

    .box {
      box-sizing: border-box;
      position: relative;
      height: 100%;
      margin-top: 0;
      padding: map-get($spacers, 6) 0;
      text-decoration: none;
      background-color: $white;
      box-shadow: $shadow-light-1;
      transition: all 0.6s;
      z-index: 1;

      @include media-breakpoint-up(lg) {
        height: 110%;
        margin-top: -4%;
        margin-bottom: -8%;
        padding: map-get($spacers, 3) 0;
      }

      &:hover {
        transform: translateY(-8px);
        box-shadow: $shadow-light-4;
      }

      .lead {
        display: block;
        margin-bottom: map-get($spacers, 2);
        text-transform: uppercase;
      }
    }
  }

  .external-links {
    margin-top: map-get($spacers, 7);
    .btn + .btn {
      margin-left: map-get($spacers, 4);
    }
  }
}
