.contact {
  padding: 7.5rem 0;
  color: $white;
  background: $blue;
  @include media-breakpoint-up(md) {
    padding: 10rem 0;
  }

  .container {
    @include media-breakpoint-up(md) {
      max-width: 610px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 640px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 928px;
    }
  }

  &-content {
    @include media-breakpoint-up(lg) {
      max-width: 660px;
    }
  }

  &-title {
    margin-bottom: .5rem;
  }

  .btn {
    @include media-breakpoint-down(xs) {
      margin-top: -.5rem;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 1rem;
    }
  }
}