.dropdown-toggle {
  &:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    right: 0;
    transform: translateY(-50%);
    content: "";
    border-top: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-bottom: 0;
    border-left: 0.25em solid transparent;
  }
  &.no-arrow:after {
    border: none;
  }
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: fixed;
}

.navbar-nav .dropdown-menu {
  width: 100%;
  height: 0;
  top: 64px;
  left: 0;
  overflow: hidden;
  z-index: 5;
  background: rgba($black, .95);
  backdrop-filter: blur(8px);
  transition: .5s;

  > .content {
    width: 100%;
    position: relative;
    text-align: center;
  }

  &.show {
    height: 100%;
  }

  &:after {
    content: '\00D7';
    position: absolute;
    top: 20px;
    right: 26px;
    font-size: 40px;
    line-height: 40px;
    color: $white;
    cursor: pointer;
  }
}
