//Custom fonts v2.0
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


//Font class overrides
/*
.display-1      { font-family: 'Abril Fatface', cursive; }
.lead           { font-family: 'Roboto Condensed', sans-serif; }
.nav-link       { font-family: 'Roboto Condensed', sans-serif; }
p               { font-family: 'Roboto', sans-serif; }
small           { font-family: 'Roboto', sans-serif; }
blockquote p    { font-family: 'Roboto Slab', serif; }
blockquote cite { font-family: 'Roboto', sans-serif; }

//Font margins
h2, h3, h4 {margin-bottom: 2.5rem;}
 */