//Custom fonts
// @import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=fa1f4a25-2b76-460c-b356-ace886bfb1e7");
// @font-face{
//     font-family:"BodoniSeventytwoITCW01-_731136";
//     src:url("../fonts/d6476e34-3e5f-4ecb-8971-ff0ee3d55ab5.eot?#iefix");
//     src:url("../fonts/d6476e34-3e5f-4ecb-8971-ff0ee3d55ab5.eot?#iefix")
//      format("eot"),url("../fonts/c5587a4c-8565-4f72-98bf-2a4e4c9598d0.woff2")
//      format("woff2"),url("../fonts/ebdc0600-3fa8-4fe0-bf93-68d882debcd5.woff")
//      format("woff"),url("../fonts/b7d86a37-aafc-4ea8-9c2e-36c8c57ff6a2.ttf")
//      format("truetype"),url("../fonts/a9c33b4a-fa3c-4f14-ac3f-22d376490dde.svg#a9c33b4a-fa3c-4f14-ac3f-22d376490dde")
//      format("svg");
// }
// @font-face{
//     font-family:"EgyptianSlateW01-Light";
//     src:url("../fonts/b86795e4-74a2-4c86-a865-96f08c38e2ca.eot?#iefix");
//     src:url("../fonts/b86795e4-74a2-4c86-a865-96f08c38e2ca.eot?#iefix")
//      format("eot"),url("../fonts/b6a37300-8f75-4e45-b310-9c04d5c97b2b.woff2")
//      format("woff2"),url("../fonts/ef29444b-f0d7-4382-8a74-2ed0415d303f.woff")
//      format("woff"),url("../fonts/2bb31900-4092-41c7-b31d-0f294beab368.ttf")
//      format("truetype"),url("../fonts/6752065e-0ec1-4efc-9a8e-9feb4c7395a7.svg#6752065e-0ec1-4efc-9a8e-9feb4c7395a7")
//      format("svg");
// }
// @font-face{
//     font-family:"Trade Gothic LT W01 Light";
//     src:url("../fonts/dc61b9f1-7609-475e-af7d-8b2b5deb401d.eot?#iefix");
//     src:url("../fonts/dc61b9f1-7609-475e-af7d-8b2b5deb401d.eot?#iefix")
//      format("eot"),url("../fonts/655d9d2d-89f2-4a22-8374-53dc74dfec80.woff2")
//      format("woff2"),url("../fonts/3490ccd3-6e42-49ba-9733-7af1e400a3b4.woff")
//      format("woff"),url("../fonts/c44646ee-cf36-4809-92b4-9b4f292a2ca1.ttf")
//      format("truetype"),url("../fonts/c5450be6-d3a7-4704-ae0b-1e82bc5b9c2b.svg#c5450be6-d3a7-4704-ae0b-1e82bc5b9c2b")
//      format("svg");
// }
// @font-face{
//     font-family:"Trade Gothic LT W01 Roman";
//     src:url("../fonts/40775ed4-d9b0-4f75-b874-80f2842332a9.eot?#iefix");
//     src:url("../fonts/40775ed4-d9b0-4f75-b874-80f2842332a9.eot?#iefix")
//      format("eot"),url("../fonts/24ba8ea7-bbf3-40e0-b924-fd985d79ebca.woff2")
//      format("woff2"),url("../fonts/9274bb7f-01c5-45cb-b935-f53683ab6dd6.woff")
//      format("woff"),url("../fonts/a94b3f7a-c1fd-4bbe-9273-1f6f081dcb2f.ttf")
//      format("truetype"),url("../fonts/b0fb9bf0-3364-4802-9c4e-89202a063331.svg#b0fb9bf0-3364-4802-9c4e-89202a063331")
//      format("svg");
// }
// @font-face{
//     font-family:"Trade Gothic LT W01 Bold";
//     src:url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix");
//     src:url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix")
//      format("eot"),url("../fonts/2bd4e485-6e2d-478c-94c7-9a7cabf8e98d.woff2")
//      format("woff2"),url("../fonts/3e9c6e62-e41c-408b-bef3-ffa454301b17.woff")
//      format("woff"),url("../fonts/a74675c3-a15b-41ed-8409-e90f921c3cb8.ttf")
//      format("truetype"),url("../fonts/32260af6-2329-4a39-a8a3-3339f87a580b.svg#32260af6-2329-4a39-a8a3-3339f87a580b")
//      format("svg");
// }

//Font class overrides
// .display-1      { font-family: "BodoniSeventytwoITCW01-_731136"; }
// .lead           { font-family: "Trade Gothic LT W01 Bold"; }
// .nav-link       { font-family: "Trade Gothic LT W01 Bold"; }
// p               { font-family: "Trade Gothic LT W01 Roman"; }
// small           { font-family: "Trade Gothic LT W01 Roman"; }
// blockquote p    { font-family: "EgyptianSlateW01-Light"; }
// blockquote cite { font-family: "Trade Gothic LT W01 Roman"; }

//Font margins
// h2, h3, h4 {margin-bottom: 2.5rem;}



//Custom fonts v2.0
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


//Font class overrides
.display-1      { font-family: 'Abril Fatface', cursive; }
.lead           { font-family: 'Roboto Condensed', sans-serif; }
.nav-link       { font-family: 'Roboto Condensed', sans-serif; }
p               { font-family: 'Roboto', sans-serif; }
small           { font-family: 'Roboto', sans-serif; }
blockquote p    { font-family: 'Roboto Slab', serif; }
blockquote cite { font-family: 'Roboto', sans-serif; }

//Font margins
h2, h3, h4 {margin-bottom: 2.5rem;}
