.navbar {
  justify-content: center;
  height: 64px;
  box-shadow: $shadow-light-1;
}

.navbar-light {
  background: $white;
  .navbar-nav {
    .nav-link {
      display: inline-flex;
      position: relative;
      padding-left: 1em;
      padding-right: 1em;
      line-height: 64px;
      font-size: 14px;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 0.6px;

      &:hover {
        text-decoration: none;
      }
    }
    .active {
      position: relative;
      > .nav-link {
        -webkit-background-clip: text;
         background-clip: text;
        -webkit-text-fill-color: transparent;
         background-image: linear-gradient(243deg, $pink, $red);
        &:after {
          border-top-color: $primary;
        }
      }
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from($pink), to($red));
        background-image: -webkit-linear-gradient(to right, $pink, $red);
        background-image: -moz-linear-gradient(to right, $pink, $red);
        background-image: -o-linear-gradient(to right, $pink, $red);
      }
    }
  }
}
