.navbar {
  height: 64px;
  padding: 0;
  justify-content: center;
  box-shadow: $shadow-light-1;

  &-light {
    background: $white;
  }

  .navbar-nav {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    @media (min-width: 390px) {
      justify-content: center;
      gap: 14.5px;
    }

    .nav-link {
      padding: 1.5rem 1.75rem;
      display: block;
      position: relative;
      font: 500 14px/16px $font-family-heading;
      color: $black;
      white-space: nowrap;
      text-decoration: none !important;
      &:hover, &:focus {
        color: $black;
      }

      @include media-breakpoint-up(sm) {
        padding-right: 2rem;
        padding-left: 2rem;
      }

      &.dropdown-toggle {
        &:not(.no-arrow) {
          padding-right: 2.75rem;
          padding-left: 1rem;
          &::after {
            border-top-width: .36em;
            border-right-width: .3em;
            border-left-width: .3em;
            right: 1.125rem;
          }
        }
      }
    }

    .nav-item {
      display: flex;
      justify-content: center;
      position: relative;

      &.active {
        &::after {
          height: 2px;
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background: $black;
        }
      }

      .dropdown-menu {
        width: 100%;
        min-width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;

        .dropdown-item {
          width: 100%;
          padding: 1rem;
          display: inline-block;
          font: 300 40px/56px $font-family-heading;
          color: $white;
          text-align: center;
          transition: opacity .4s ease;
          opacity: 1;

          &:hover {
            color: $white;
            opacity: .2;
            text-decoration: none;
          }
        }

        &.show {
          height: calc(100% - 64px);
        }

        .contact {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}