.hero {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  box-sizing: border-box;
  @include media-breakpoint-up(md) {
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 11.5rem;
  }

  .container {
    @include media-breakpoint-down(sm) {
      max-width: 732px;
    }
    @include media-breakpoint-up(md) {
      max-width: 1024px;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 1440px;
    }
  }

  &-container {
    width: 100%;
    min-height: 620px;
    padding: 3rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ededf2;
    @include media-breakpoint-up(sm) {
      min-height: 616px;
      padding: 4rem;
    }
    @include media-breakpoint-up(md) {
      width: auto;
      margin-right: 18px;
      margin-left: 18px;
      overflow: hidden;
    }
    @include media-breakpoint-up(lg) {
      min-height: 744px;
      padding: 5rem;
      margin-right: 32px;
      margin-left: 32px;
    }
    @include media-breakpoint-up(xxl) {
      padding-right: 7.25rem;
      padding-left: 7.25rem;
      margin-right: 24px;
      margin-left: 24px;
    }
  }

  &-content {
    position: relative;
    z-index: 3;
    @include media-breakpoint-up(sm) {
      max-width: 340px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 540px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 600px;
    }
  }

  &-heading {
    margin: 0;
    font: bold 3rem/3.5rem $font-family-base;
  }

  &-subheading {
    margin: map-get($spacers, 3) 0 0;
  }

  .btn.mt-2 {
    @include media-breakpoint-up(xl) {
      margin-top: 1.25rem !important;
    }
  }

  &-photo {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    @include media-breakpoint-up(md) {
      margin-left: 77px;
      display: block;
      left: 50%;
    }
    @include media-breakpoint-up(lg) {
      margin-left: -248px;
      left: 75%;
    }
    @include media-breakpoint-up(xl) {
      margin-left: -213px;
    }

    img {
      width: 446px;
      height: 631px;
      display: block;
      @include user-select;

      @include media-breakpoint-up(lg) {
        width: 480px;
        height: 679px;
      }
      @include media-breakpoint-up(xxl) {
        width: 521px;
        height: 737px;
      }
    }
  }
}

.video-wrapper {
  position: absolute;
  top: map-get($spacers, 6);
  bottom: 0;
  right: map-get($spacers, 6);
  overflow: hidden;
  .player {
    transform: scale(1.01);
    border-color: #fff;
    color: #fff;
  }
}
