.section-media-grid {
  display: grid;

  .bisk-audience {
    display: grid;
    grid-template-areas: "a";

    @include media-breakpoint-up(md) {
      grid-template-rows: 160px 1fr;
      grid-template-columns: repeat(12, minmax(20px, 8.33333333333%));
      grid-template-areas:
      ". . a a a a a a a a a a"
      "l l a a a a a a a a a a";
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 2% repeat(12, minmax(20px, 8.33333333333%)) 2%;
      grid-template-areas:
      ". . . . . a a a a a a a a ."
      "l l l l l a a a a a a a a r";
    }

    > .ba-image { grid-area: a; }
    > .ba-offset-bottom-left {
        grid-area: l;
        color: $white;
        background: $black;
      }
    > .ba-offset-bottom-right {
        grid-area: r;
        background: $black;
      }
  }

  .bisk-logos {
    display: none;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(12, minmax(20px, 8.33333333333%));
      grid-template-areas:
        ". a a a a a a a a a a ."
        "l a a a a a a a a a a r";

      > .bl-image { grid-area: a;}
      > .bl-offset-left { grid-area: l;}
      > .bl-offset-right { grid-area: r; }
      > .bl-offset-left,
      > .bl-offset-right { background: $black; }
    }

    @include media-breakpoint-up(lg) {
      grid-template-rows: 1fr 156px;
      grid-template-columns: repeat(12, minmax(20px, 8.33333333333%));
    }
  }

  .codeschool-video {
    display: grid;
    grid-template-rows: 1fr 1fr 64px;
    grid-template-columns: repeat(12, minmax(20px, 8.33333333333%));
    grid-template-areas:
      ". v v v v v v v v v v ."
      ". v v v v v v v v v v r"
      ". . . . . . b b b b b b";

    @include media-breakpoint-up(lg) {
      grid-template-areas:
        ". . v v v v v v v v . ."
        ". . v v v v v v v v r r"
        ". . . . . . b b b b b b";
    }

    @include media-breakpoint-up(lg) {
      grid-template-areas:
        ". . . v v v v v v . . ."
        ". . . v v v v v v r r r"
        ". . . . . . b b b b b b";
    }

    > .cs-video { grid-area: v; }
    > .grid-offset-right,
      .grid-offset-bottom-right { background: $gray-200; }
    > .grid-offset-right { grid-area: r; }
    > .grid-offset-bottom-right {
        grid-area: b;
        color: $black;

        padding-top: map-get($spacers, 3);
        padding-left: map-get($spacers, 4);
        padding-right: map-get($spacers, 4);

        @include media-breakpoint-up(lg) {
          padding-top: map-get($spacers, 5);
          padding-left: map-get($spacers, 7);
          padding-right: map-get($spacers, 7);
        }
        small {
          display: block;
          max-width: 450px;
        }
      }
  }

  .codeschool-docs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(20px, 4%) repeat(12, minmax(20px, 8.33333333333%)) minmax(20px, 4%);

    grid-template-areas:
      "l a a a a a a a a a a a r ."
      "l a a a a a a a a a a a x x";

    @include media-breakpoint-up(md) {
      grid-template-areas:
        "l a a a a a a a a a r r r ."
        "l a a a a a a a a a x x x x";
    }

    > .cd-image {
      grid-area: a;
      background: linear-gradient($white, $white, $black, $black);
      img { transform: scale(1.11); }

      @include media-breakpoint-up(md) {
        img { transform: scale(1.063); }
      }

      @include media-breakpoint-up(lg) {
        img { transform: scale(1.049); }
      }

      @include media-breakpoint-up(xl) {
        img { transform: scale(1.039); }
      }
    }
    > .cd-offset-left {
      grid-area: l;
      background: $white;
    }
    > .cd-offset-top-right {
      grid-area: r;
      background: $white;
    }
    > .cd-offset-bottom-right {
      grid-area: x;
      background: $black;
    }

  }

  .ea-journey {
    display: none;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(6, minmax(40px, 16.66666666667%));
      grid-template-areas:
      ". a a a a a"
      "b a a a a a";
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(12, minmax(20px, 8.33333333333%));
      grid-template-areas:
      ". . . a a a a a a a a a"
      "b b b a a a a a a a a a";
    }

    > .ea-image {
      grid-area: a;

      @include media-breakpoint-up(md) {
        .img-overflow { width: 200%; }
      }

      @include media-breakpoint-up(xl) {
        .img-overflow { width: 250%; }
      }
    }
    > .ea-offset-bottom {
        grid-area: b;
        background: $black;
      }
  }
}
