@mixin background-gradient($direction, $start, $stop) {
  background: -webkit-linear-gradient($direction, $start, $stop);
  background: -moz-linear-gradient($direction, $start, $stop);
  background: -o-linear-gradient($direction, $start, $stop);
}

@mixin appearance($arg) {
  -webkit-appearance: $arg;
  -moz-appearance: $arg;
  -ms-appearance: $arg;
  -o-appearance: $arg;
  appearance: $arg;
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
