.process {
  background: $black;
  color: $white;
  padding-top: map-get($spacers, 7);
  text-align: left;

  @include media-breakpoint-up(md) {
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 10);
  }

  @include media-breakpoint-up(xl) {
    padding-top: map-get($spacers, 11);
  }

  .content {
    @include media-breakpoint-up(md) {
      text-align: center;
    }

    @include media-breakpoint-up(xl) {
      text-align: left;
    }
  }
}
