.process {
  padding-top: map-get($spacers, 7);
  color: $white;
  text-align: center;
  background: $black;
  @include media-breakpoint-up(md) {
    padding-top: 15.5rem;
  }

  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1440px;
    }
  }

  .content {
    text-align: center;

    .h4 {
      line-height: 1.4;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 118px;
      text-align: left;

      &.row {
        &.flex-xl-row-reverse {
          .col-md-10:nth-child(2) {
            padding-right: 30px;
            position: relative;
            top: -4px;
            left: 24px;
          }

          .lazyLoad {
            display: block;
            float: right;
            position: relative;
            top: -10px;
            left: 68px;

            img {
              height: auto;
              display: block;
              @include user-select;
            }

            &.pos2 {
              top: -7px;
              left: 92px;
            }
          }
        }

        &:not(.flex-xl-row-reverse) {
          .col-md-10:nth-child(2) {
            padding-right: 30px;
            position: relative;
            top: -4px;
            left: -10px;
          }

          .lazyLoad {
            display: block;
            float: right;
            position: relative;
            top: 0;
            left: -121px;

            img {
              height: auto;
              display: block;
              @include user-select;
            }

            &.pos3 {
              left: -137px;
            }
          }
        }
      }
    }
  }
}
