.svg-CodeSchool { width: 37px; height: 36px; }
.svg-EA { width: 46px; height: 23px; }
.svg-Gannett { width: 37px; height: 36px; }
.svg-Pluralsight { width: 36px; height: 36px; }
.svg-Southwest { width: 37px; height: 34px; }
.svg-infor { width: 37px; height: 36px; }
.svg-logo { width: 250px; height: 98px; }
