.writing {
  background: $black;
  color: $white;
  padding-top: map-get($spacers, 7);
  padding-bottom: map-get($spacers, 7);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 10);
    padding-bottom: map-get($spacers, 10);
  }

  @include media-breakpoint-up(xl) {
    padding-top: map-get($spacers, 11);
    padding-bottom: map-get($spacers, 11);
  }

  .title {
    margin-bottom: map-get($spacers, 6);
  }

  [class^="col"] {
    margin-bottom: map-get($spacers, 6);
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: map-get($spacers, 3);
    text-decoration: none;
    color: $white;
    transform: translate(0);
    box-shadow: $shadow-dark-1;
    transition: all 0.6s;

    .img-contain {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      transform: translateY(-8px);
      box-shadow: $shadow-dark-3;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
}
